<div></div>

<script>
import ol from 'openlayers'
import {getLastWaypointIndexBefore} from 'routing-components'

export default {
  oncreate () {
    this.observe('route', route => {
      const map = this.get('map')
      const coords = route.coordinates.map(c => ol.proj.fromLonLat(c))

      if (!this.layer) {
        this.line = new ol.Feature({
          type: 'route',
          geometry: new ol.geom.LineString(coords),
          style: this.get('style')
        })

        this.layer = new ol.layer.Vector({
          updateWhileInteracting: true,
          source: new ol.source.Vector({
            features: [this.line]
          })
        })

        map.on('click', this.onClick, this)
        map.on('pointerdown', this.onPointerDown, this)

        map.addLayer(this.layer)
      } else {
        this.line.getGeometry().setCoordinates(coords)
      }
    })
    this.observe('selected', selected => {
      if (this.line) {
        this.line.setStyle(this.get('style'))
      }
    })
  },

  ondestroy () {
    if (this.line) {
      const map = this.get('map')
      map.removeLayer(this.layer)
      map.un('click', this.onClick, this)
      map.un('pointerdown', this.onPointerDown, this)
    }
  },

  computed: {
    style: selected => new ol.style.Style({
      stroke: new ol.style.Stroke({
        width: selected ? 9 : 6,
        color: [51, 136, 255, selected ? 1 : 0.5]
      })
    })
  },

  methods: {
    onClick (e) {
      const map = this.get('map')
      map.forEachFeatureAtPixel(e.pixel, (feature, layer) => {
        if (layer === this.layer) {
          this.fire('selected')
        }
      })
    },
    onPointerDown (e) {
      const map = this.get('map')
      map.forEachFeatureAtPixel(e.pixel, (feature, layer) => {
        if (layer === this.layer) {
          const map = this.get('map')
          map
            .once('pointerdrag', this.onDrag, this)
          map.once('pointerup', () =>
            map.un('pointerdrag', this.onDrag, this))
        }
      })
    },
    onDrag (e) {
      const map = this.get('map')
      if (!this.get('selected')) {
        return
      }

      map.forEachFeatureAtPixel(e.pixel, (feature, layer) => {
        if (layer === this.layer) {
          const map = this.get('map')
          const route = this.get('route')

          map.un('pointerdrag', this.onDrag, this)

          const lngLat = ol.proj.toLonLat(e.coordinate)

          this.fire('dragging', {
            afterWpIndex: getLastWaypointIndexBefore(route, lngLat),
            lngLat
          })

          e.preventDefault()
        }
      })
    }
  }
}
</script>